html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

p{
    cursor: default;
}

input{
    height: 23px;
    margin: auto 0;
}

button{
    display: block;
    margin: auto;
    cursor: pointer;
}


#root {
    width: 100%;
    height: 100%;
}

.appContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.leftbar{
    width: 280px;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: aqua;
    overflow: auto;
}

.leftbarContents{
    padding: 5px;
    border: 1px solid black;
}

.summary{
    cursor: pointer;
}

.input_flex{
    display: flex;
}

.room{
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
}
